@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

html,
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: #777;
    font-size: 20px;
}

header h1 {
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: rgb(215, 215, 215);
    padding: .5em;
}

.nav a:hover {
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.main-nav {
    text-align: center;
    font-size: 1.4em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.main-nav li {
    padding: 0 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-title {
    text-align: center;
    font-family: Metal Mania;
    color: rgb(215, 215, 215);
    font-weight: normal;
    font-style: normal;
}

.main-title-large {
    margin: 0;
    font-size: 60px;
}

header {
    background-image: url("images/Flame-Breathing.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
}

.content-section {
    margin: 10px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 40px;
}

.about-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: left;
    margin: 20px;
}

.main-footer h2 {
    font-size: 60px;
    text-align: left;
}

.main-footer {
    background-color: #e3321a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title {
    margin: 30px;
    padding-left: 20px;
}

.footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-nav li {
    margin-left: 10px;
}

.footer-nav a:hover {
    background-color: #e3321a;
}

.btn {
    border: 3px solid rgb(255, 85, 0);
    cursor: pointer;
    color: rgb(215, 215, 215);
    background-color: rgba(0, 0, 0, .2);
}

.outer-container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn {
    margin: 0 5px;
    /* Optional: Add spacing between the buttons */
}

.btn:hover {
    background-color: rgba(0, 0, 0, .4);
}

.btn-header {
    text-align: center;
    padding: .67em;
    margin: 0 2em 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.fan-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.fan-item{
    display: inline-block;
    padding-right: .53em;
}

.fan-date{
    color: #222;
    width: 10%;
}

.fan-city{
    width:24%;
}

.fan-venue{
    width: 40%;
}

.fan-btn{
    max-width: 19%;
    color: white;
    background-color: rgb(255, 85, 0);
    border-radius: 5px;
}

.fan-head{
    color: #222;
}

.fan-row:last-child{
    border-bottom: none;
}

.a-btn{
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-weight: 500;
}

.item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .item {
    text-align: center;
  }
  
  .item-image {
    display: block;
    margin: 10px auto;
  }
  
  .item-details {
    text-align: center;
  }

  .item-details button{
    margin-left: 20px;
  }
  
  .add-to-cart-btn {
    margin-top: 10px;
    background-color: rgb(255, 85, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Cart Styles */
  .cart-container {
    margin: 0 auto;
    max-width: 80%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .cart-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-title-item{
    color: #000;
    padding-right: 380px;
    border-bottom: 2px solid black;
  }

  .cart-title-quantity{
    margin-right: 100px;
    border-bottom: 2px solid black;
    color: #000;
  }

  .cart-title-price{
    border-bottom: 2px solid black;
    color: #000;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-image {
    display: block;
    height: 100px;
    width: 70px;
    margin-right: 10px;
  }
  
  .cart-item-details {
    flex: 1;
  }

  .cart-item-details strong{
    margin-left: 100px;
  }
  
  .cart-price {
    flex: 1;
    text-align: right;
  }
  
  .cart-quantity {
    flex: 1;
    text-align: right;
  }

  .cart-quantity input{
    padding: 5px;
    width: 50px;
    color: #000;
    border-color: #000;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .remove-btn {
    background-color: rgb(255, 0, 0);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-total {
    text-align: right;
    margin-top: 10px;
  }
  
  .purchase-btn {
    margin-top: 10px;
    background-color: rgb(255, 85, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }